aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
appnope==0.1.3
asttokens==2.0.8
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
backports.entry-points-selectable==1.1.1
base58==2.1.1
beautifulsoup4==4.11.1
bitarray==1.2.2
bleach==5.0.1
bokeh==2.4.3
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
colorcet==3.0.1
commonmark==0.9.1
cytoolz==0.11.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
docutils==0.19
entrypoints==0.4
esbonio==0.14.1
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
executing==1.1.1
fastjsonschema==2.16.2
filelock==3.4.0
frozenlist==1.2.0
haralyzer==2.0.0
hexbytes==0.2.2
holoviews==1.15.1
hvplot==0.8.1
idna==3.3
imagesize==1.4.1
importlib-metadata==5.0.0
ipfshttpclient==0.8.0a2
ipykernel==6.16.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
jsonschema==3.2.0
jupyter-bokeh==3.0.5
jupyter-core==4.11.1
jupyter_client==7.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
lru-dict==1.1.7
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
multiaddr==0.0.9
multidict==5.2.0
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
nest-asyncio==1.5.6
netaddr==0.8.0
numpy
pandas
pandocfilters
panel
parsimonious
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycryptodome
pyct
pydantic
pygls
Pygments
pyparsing
pyrsistent
pyspellchecker
python-dateutil
python-dotenv
pytz
pyviz-comms
PyYAML
pyzmq
requests
rich
rlp
six
snowballstemmer
soupsieve
Sphinx
stack-data
tinycss2
tomlkit==0.10.1
toolz==0.11.2
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typeguard==2.13.3
typing-extensions
uniswap-python
urllib3
varint
wcwidth==0.2.5
web3==5.26.0
webencodings==0.5.1
websockets==9.1
widgetsnbextension==4.0.3
yarl==1.7.2
zipp==3.9.0
jupyter-panel-proxy
